* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #e8e2ed, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#card_login {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 300px;
}

#card_login h2 {
    margin-bottom: 15px;
    color: #fff;
}

#card_login input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

#card_login input:focus {
    border: 2px solid #7a00ff;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

#card_login button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#card_login button:hover {
    background-color: #2a282b;
}
